body{
font-family: Verdana;
font-size: 14px;
background-color: #C2D1E0;
}

#page{
    background-color: #FFFFFF;
    border-color: #5C6B7A;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
}

.infoButton{
background-color: #CCFFCC;
height: 30px;
}

.sourceButton{
background-color: #CCCCFF;
height: 30px;
}


.drugField{width:300px;}

.drugs{
margin-top: 30px;
}

.image{
text-align:center;
}

.intro{
text-align:center;
}

.stepHeader{
    font-size: 14px;
    font-weight: bold;
}

.whiteText{
    color: #FFFFFF;
}

.centered{
    text-align: center;
}

.bold{
    font-weight: bold;
}

#drugSelection1{
    display:block;
    float:left;
    padding: 5px;
    margin-left: 193px;
}

#step2{
    display:block;
    float:left;
    padding: 5px;
    width:350px;
    margin-left: 55px;
}

#step3{
    width: 350px;
    text-align: center;
}

#drugSelection2, #step3{
    display:block;
    float:left;
    padding: 5px;
}

.clear{
    clear: both;
}

#submitButton{
    text-align: center;
}

