body{
font-family: Verdana;
font-size: 14px;
background-color: #C2D1E0;
}

#page{
    background-color: #FFFFFF;
    border-color: #5C6B7A;
    border-width: 3px;
    border-style: solid;
    padding: 5px;
    width: 720px;
}

div{

margin: 0px auto;

}

.headerArea{
height: 100px;
}

.pageTitle{
font-size: 40px;
font-weight: bold;
position: auto;
float: left;
}

.loginForm{
font-size: 12px;
position: auto;
float: right;
width: 220px;
}

#login, #pw{
    float:right;
}

.loginP{
    margin: 1px;
    padding: 1px;
}

.loginButton{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

.loginForm input.text{
width: 100%
}

.newAccount{
    font-size:8px;
    text-align: center;      
}

.infoButton{
background-color: #CCFFCC;
height: 30px;
}

.sourceButton{
background-color: #CCCCFF;
height: 30px;
}


.drugField{width:300px;}

.drugs{
margin-top: 30px;
}

.image{
text-align:center;
}

.intro{
text-align:center;
}

.stepHeader{
font-size: 16px;
font-weight: bold;
}
.filters{

}

.results{


}

.resultsField{


}